numpy
torch 
torchvision 
torchaudio
pandas
scikit-learn
scipy
icecream
xlrd
tomli-w
zero
category_encoders
imbalanced-learn
kaggle
transformers
datasets
peft==0.9.0
ml_collections
sdmetrics
prdc
rdt
openpyxl
xgboost